@tailwind base;
@tailwind components;
@tailwind utilities;


/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
  --background-color: #fdfafa;
  --main-font-family: Inter, sans-serif;
}

.content-container{
  background-color: var(--background-color);
  font-family: var(--main-font-family);
  margin: 0 0rem 2rem 0rem;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
